
# Your openai api key. (required)
OPENAI_API_KEY=sk-xxxx

# Access passsword, separated by comma. (optional)
CODE=your-password

# You can start service behind a proxy
PROXY_URL=http://localhost:7890

# Override openai api request base url. (optional)
# Default: https://api.openai.com
# Examples: http://your-openai-proxy.com
BASE_URL=

# Specify OpenAI organization ID.(optional)
# Default: Empty
# If you do not want users to input their own API key, set this value to 1.
OPENAI_ORG_ID=

# (optional)
# Default: Empty
# If you do not want users to input their own API key, set this value to 1.
HIDE_USER_API_KEY=

# (optional)
# Default: Empty
# If you do not want users to use GPT-4, set this value to 1.
DISABLE_GPT4=

# the url of graphQL and ethereum api
URL_GRAPHQL = "http://192.168.2.106:8000/subgraphs/name/aiways"
URL_ETHAPI  = "http://192.168.2.106:8545"

# aiways contract address
AIWAIYS     = "0xEf2E1122498c21763752750C0C4e96062c99F291"
